now: {{ now | date: "yyyy-MM-dd" }}

<button (click)="refresh()">refresh</button>

<ng-container *ngIf="game | async as game">
  <p>Current Player: {{game.currentPlayer}}</p>


  <div class="grid">
    <div class="row" *ngFor="let row of game.grid">
      <div
        *ngFor="let cell of row"
        class="col"
        [class.highlight]="highlightPlayer && highlightPlayer == cell.player"
        (mousemove)="highlightPlayer = cell.player"
        (click)="place(cell);highlightPlayer = cell.player">
        {{cell.player || '.'}}
      </div>
    </div>
  </div>

  <button (click)="reset()">Reset</button>
</ng-container>

