.col {
  width: 2em;
  height: 2em;
  font-size: 2em;
  outline: 1px solid black;
  text-align: center;
  justify-content: center;
  display: inline;
  user-select: none;


  &.highlight {
    background-color: bisque;
    outline: 1px solid burlywood;
  }
}

.row {
  display: flex;
  flex-direction: row;
}

button {
  margin: 1em;
}
